<!-- templates/products.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title bmp-title">
    All Products
</h1>
<button id="add-product-button" class="cursor-pointer">Add Product +</button>
<h3 class="status good">{{ status_good }}</h3>
<h3 class="status bad">{{ status_bad }}</h3>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <h3 class="status fail">
        {{ message }}
    </h3>
    {% endfor %}
    {% endif %}
{% endwith %}


<div id="myModal" class="modal">
    <div class="center content modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Add a Product</h2>
        </div>
        <div class="modal-body">
            <form method="POST">
                <p>
                    <label for="bmpid">BMP Product Number &nbsp;&nbsp;&nbsp;</label>
                    <input type="number" id="bmpid" name="bmpid" value="12345">
                </p>
                <p>
                    <label for="desc">Product Description</label>
                    <input type="text" id="desc" name="desc" value="Doe">
                </p>
                <p>
                    <label for="customer">Customer</label>
                    <select id="customer" name="customer">
                        {% for customer in customerResults %}
                        <option value="{{ customer.customer }}">{{ customer.customer }}</option>
                        {% endfor %}
                    </select>
                </p>
                <p>
                    <label for="requirements">Requirements</label>
                    <input type="text" id="requirements" name="requirements" value="">
                </p>
                <div>
                    <input type="submit" value="Submit" class="cursor-pointer">
                </div>
            </form>
        </div>
    </div>
</div>

<h3>
    <div class="center content" style="max-width: 75%; width: 100%;">
        <input type="text" id="productSearch" onkeyup="searchTable('productSearch', 'productTable')" placeholder="Search..." title="Search products...">
        <table id="productTable" class="bmp-table">
            <thead>
                <tr>
                    <th onclick="sortTable(0, 'productTable')"> BMP ID# </th>
                    <th onclick="sortTable(1, 'productTable')"> Product Description </th>
                    <th onclick="sortTable(2, 'productTable')"> Customer </th>
                    <th onclick="sortTable(3, 'productTable')"> Last QC Record </th>
                    <th onclick="sortTable(4, 'productTable')"> Requirements </th>
                    {% if current_user.is_authenticated %}
                    <th style="cursor: initial;">Edit</th>
                    <th style="cursor: initial;">Delete</th>
                    {% endif %}
                </tr>
            </thead>
            {% for product in results %}
            <tbody>
                <tr>
                    <td>{{ product.bmpid }}</td>
                    <td>{{ product.desc }}</td>
                    <td>{{ product.customer }}</td>
                    <td>{{ product.lastqc }}</td>
                    <td class="reqs">{{ product.requirements}}</td>
                    {% if current_user.is_authenticated %}
                    <td><a onclick="editProduct({{ product.id }})"><img src="../static/edit.png"></a></td>
                    <td><a onclick="deleteProduct({{ product.id }})"><img src="../static/trash.png"></a></td>
                    {% endif %}
                </tr>
            </tbody>
            {% endfor %}
        </table>
        <h4>{{ no_products }}</h4>
    </div>
</h3>
<script>
    var x = document.getElementsByClassName("reqs").length;
    for (var i = 0; i < x; i++) {
        var info = document.getElementsByClassName("reqs")[i].innerText.replace(/'/g, '"');
        // console.log(info)
        var obj = JSON.parse(info);
        // console.log(obj);
        document.getElementsByClassName("reqs")[i].innerHTML = ("");
        var first = true;
        for (var key in obj) {
            if (!first) {
                document.getElementsByClassName("reqs")[i].innerHTML += ("<br>");
            } first = false;
            var value = obj[key];
            // console.log(key + ", " + value);
            document.getElementsByClassName("reqs")[i].innerHTML += (key + " = " + value);
        }
    }
</script>
<script>
    window.onload = function() {
        // Get the modal
        var modal = document.getElementById("myModal");
        // Get the button that opens the modal
        var productAddButton = document.getElementById("add-product-button");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        productAddButton.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    };
</script>
{% endblock %}