<!-- templates/products.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
    All Products
</h1>
<h3>
    <div class="center content">
        <input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search..." title="Type in a name">
        <table id="myTable">
            <thead>
                <tr>
                    <th onclick="sortTable(0)"> Name </th>
                    <th onclick="sortTable(1)"> Model </th>
                    <th onclick="sortTable(2)"> Client </th>
                    <th onclick="sortTable(3)"> Weight </th>
                </tr>
            </thead>
            {% for product in results %}
            <tbody>
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.model }}</td>
                    <td>{{ product.client }}</td>
                    <td>{{ product.weight }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</h3>
{% endblock %}