<!-- templates/customer.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title bmp-title">
    {{ customer_info.customer }}
</h1>

<div id="myModal" class="modal">
    <div class="center content modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Edit Customer Information</h2>
        </div>
        <div class="modal-body">
            <form method="POST">
                <p>
                    <label for="customer">Customer Name &nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="text" id="customer" name="customer" value="{{ customer_info.customer }}">
                </p>
                <div>
                    <input type="submit" value="Submit" class="modal-buttons">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="center content" style="max-width: 75%; width: 100%;">
    <table id="single-edit-delete">
        <tr>
            <td>Edit Customer Name</td>
            <td>Delete Customer</td>
        </tr>
        <tr>
            <td><img src="../static/img/edit.png" alt="Edit Customer Name"/ id="edit-customer-button"></td>
            <td><a onclick="deleteCustomerSingle({{ customer_info.id }})"><img src="../static/img/trash.png" alt="Delete Customer"></a></td>
        </tr>
    </table>
    <hr>
    <div>
        <h2>Products</h2>
        <input type="text" id="productSearch" onkeyup="searchTable('productSearch', 'customerProductTable')" placeholder="Search..." title="Search products...">
        <table id="customerProductTable" class="bmp-table">
            <thead>
                <tr>
                    <th onclick="sortTable(0, 'customerProductTable')">BMP ID#</th>
                    <th onclick="sortTable(1, 'customerProductTable')">Product Description</th>
                    <th onclick="sortTable(3, 'customerProductTable')">Last QC Record</th>
                    <th onclick="sortTable(4, 'customerProductTable')">Requirements</th>
                </tr>
            </thead>
            {% for product in productResults %}
            <tbody>
                <tr>
                    <td>{{ product.bmpid }}</td>
                    <td>{{ product.description }}</td>
                    <!-- <td>{{ product.lastqc }}</td> -->
                    <td>12/12/2020</td>
                    <td><a href="../products/{{ product.id }}">View Requirements</a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        <h4 class="status bad">{{ no_products }}</h4>
    </div>
    <hr>
    <div>
        <h2>QC Logs</h2>
        <input type="text" id="logSearch" onkeyup="searchTable('logSearch', 'customerLogTable')" placeholder="Search..." title="Search logs...">
        <table id="customerLogTable" class="bmp-table">
            <thead>
                <tr>
                    <th onclick="sortTable(0, 'customerLogTable')">Log ID#</th>
                    <th onclick="sortTable(1, 'customerLogTable')">BMP ID#</th>
                    <th onclick="sortTable(2, 'customerLogTable')">Date / Time(PT)</th>
                    <th onclick="sortTable(3, 'customerLogTable')">User</th>
                    <th>QC Results</th>
                </tr>
            </thead>
            {% for log in logResults %}
            <tbody>
                <tr>
                    <td>{{ log.id }}</td>
                    <td>{{ log.bmpid }}</td>
                    <td>{{ log.lastqc }}</td>
                    <td>{{ log.user }}</td>
                    <td><a href="../logs/{{ log.id }}">View QC Results</a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        <h4 class="status bad">{{ no_logs }}</h4>
    </div>
</div>
<script>
    window.onload = function() {
        // Get the modal
        var modal = document.getElementById("myModal");
        // Get the button that opens the modal
        var customerAddButton = document.getElementById("edit-customer-button");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        customerAddButton.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    };
</script>
{% endblock %}